# Mac trash files
.DS_Store
*/.DS_Store
R/.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# RStudio files
.Rproj.user/
.Rproj.user

# vi temp files
*.swp
*.swo

.idea

# Don't track results files
*.rds
*~
*.pdf
SuppB_exp.csv
mesorad_combined.csv
mesorad_filtered.csv
mesorad_final.csv
sig_trc_summary.yaml
supp_count_data.csv